#post article {
  display: flex;
  flex-direction: column; }

#post h1 {
  color: black;
  font-size: 38px;
  margin: 20px 0; }

#post h2 {
  color: grey;
  font-size: 24px;
  font-style: italic; }

#post p {
  font-size: 1.2rem;
  color: #323232;
  line-height: 30px; }

#post figure {
  margin: 0; }
  #post figure figcaption {
    color: grey;
    font-size: 14px;
    margin: 10px 0; }
