@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');
// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    
    p {
        margin-bottom: 0;
    }
    
    ul {
        padding-left: 0;
    }
}

// HEADER
header {

    .navbar {
        padding: 10px 90px;
        background: grey;
        align-items: center;
        box-shadow: 0px 0px 5px 3px;
        border-bottom: solid 2px black;

            .container-fluid {
                justify-content: center;
                flex-wrap: nowrap;
                align-items: baseline;

                .navbar-brand {
                    font-size: 2rem;
                    color: black;

                    &:hover {
                        color: white;
                        text-shadow: black 0px 0px 10px;
                    }

                    img {
                    height: 125px;
                    width: 125px;
                    }
                }
            }
        }

    .navegacion {

        ul {
            list-style-type: none;
            display: flex;
            align-items: center;

            li {
                padding: 5px;
                margin: 0 10px;

                a {
                    color: white;
                    font-size: 1rem;
                    font-style: italic;
                }
            }
        }
    }
}

// NEWS FEED
.container {
    margin: 25px auto;

    .row {

        .columna-izquierda {
        
            article {
                height: 100%;
            }
        }

        .columna-derecha {

            article {
                height: 50%;
            }
        }

        article {
            display: flex;
            flex-direction: column;
            height: 100%;

            h1 {
                font-size: 36px;
                flex-grow: 1;
            }

            h2 {
                margin-bottom: 5px;
                font-size: 22px;
                flex-grow: 1;
            }
            
            p {
                margin: 1rem auto;
                font-size: 20px;
                color: grey;
                flex-grow: 1;
            }

            img {
                width: 100%;
                padding-bottom: 5px;
                border-bottom: 1px solid lightgrey;
            }

            figure {
                position: relative;
                margin-bottom: 25px;

                &:hover {

                    figcaption{
                        background-color: white;
                    }
                }

                figcaption {
                    width: auto;
                    padding: 15px;
                    border-radius: 10px;
                    font-style: italic;
                    background: rgba(255, 255, 255, 0.5);
                    position: absolute;
                    bottom: 20px;
                    left: 10px;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }       
    }
}

// NOTICIA
#post {
    margin: 25px auto;

    article {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgrey;
    }

    h1 {
        color: black;
        font-size: 38px;
        margin: 20px 0;
    }

    h2 {
        margin-bottom: 20px;
        color: grey;
        font-size: 24px;
    }

    p {
        font-size: 1.2rem;
        color: rgb(50, 50, 50);
        line-height: 30px;
    }

    figure {

        figcaption {
            color: grey;
            font-size: 14px;
            margin: 10px 0;
        }
    }
}

// FOOTER
footer{

    .redes {
        background-color: grey;
        padding: 1rem;
        border-top: solid 2px black;
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            list-style: none;
            display: flex;
            
            li {
                margin: 0px 10px;

                a {
                    display: block;
                    padding: 5px 10px;
                    text-decoration: none;
                    color: black;
                    border-radius: 50px;
                    border: solid 2px black;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}