#post {

    article {
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: black;
        font-size: 38px;
        margin: 20px 0;
    }

    h2 {
        color: grey;
        font-size: 24px;
        font-style: italic;
    }

    p {
        font-size: 1.2rem;
        color: rgb(50, 50, 50);
        line-height: 30px;
    }

    figure {
        margin: 0;

        figcaption {
            color: grey;
            font-size: 14px;
            margin: 10px 0;
        }
    }
}