@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif; }
  * p {
    margin-bottom: 0; }
  * ul {
    padding-left: 0; }

header .navbar {
  padding: 10px 90px;
  background: grey;
  align-items: center;
  box-shadow: 0px 0px 5px 3px;
  border-bottom: solid 2px black; }
  header .navbar .container-fluid {
    justify-content: center;
    flex-wrap: nowrap;
    align-items: baseline; }
    header .navbar .container-fluid .navbar-brand {
      font-size: 2rem;
      color: black; }
      header .navbar .container-fluid .navbar-brand:hover {
        color: white;
        text-shadow: black 0px 0px 10px; }
      header .navbar .container-fluid .navbar-brand img {
        height: 125px;
        width: 125px; }

header .navegacion ul {
  list-style-type: none;
  display: flex;
  align-items: center; }
  header .navegacion ul li {
    padding: 5px;
    margin: 0 10px; }
    header .navegacion ul li a {
      color: white;
      font-size: 1rem;
      font-style: italic; }

.container {
  margin: 25px auto; }
  .container .row .columna-izquierda article {
    height: 100%; }
  .container .row .columna-derecha article {
    height: 50%; }
  .container .row article {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .container .row article h1 {
      font-size: 36px;
      flex-grow: 1; }
    .container .row article h2 {
      margin-bottom: 5px;
      font-size: 22px;
      flex-grow: 1; }
    .container .row article p {
      margin: 1rem auto;
      font-size: 20px;
      color: grey;
      flex-grow: 1; }
    .container .row article img {
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 1px solid lightgrey; }
    .container .row article figure {
      position: relative;
      margin-bottom: 25px; }
      .container .row article figure:hover figcaption {
        background-color: white; }
      .container .row article figure figcaption {
        width: auto;
        padding: 15px;
        border-radius: 10px;
        font-style: italic;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: 20px;
        left: 10px; }
        .container .row article figure figcaption a {
          text-decoration: none;
          color: black; }

#post {
  margin: 25px auto; }
  #post article {
    display: flex;
    flex-direction: column; }
  #post img {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey; }
  #post h1 {
    color: black;
    font-size: 38px;
    margin: 20px 0; }
  #post h2 {
    margin-bottom: 20px;
    color: grey;
    font-size: 24px; }
  #post p {
    font-size: 1.2rem;
    color: #323232;
    line-height: 30px;
    margin-bottom: 20px; }
  #post figure figcaption {
    color: grey;
    font-size: 14px;
    margin: 10px 0; }

footer .redes {
  background-color: grey;
  padding: 1rem;
  border-top: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer .redes ul {
    list-style: none;
    display: flex; }
    footer .redes ul li {
      margin: 0px 10px; }
      footer .redes ul li a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        border-radius: 50px;
        border: solid 2px black; }
        footer .redes ul li a:hover {
          color: white; }
